.component-display {
    background-color: #e8edf1;
    color: #303030;
    text-align: right;
    width: 100%;
    height: 64px;
    font-size: 2.5rem;  
}
.margin-right{ 
  margin: 0 10px 0 0;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

